biopython==1.73
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.3.1
numpy==1.16.4
psutil==5.6.3
pybedtools==0.8.0
pydot==1.4.0
scikit-learn==0.20.1
six==1.11.0
statsmodels==0.10.0
shap==0.29.2
tensorboard==1.13.0
tensorflow==1.13.0
weblogo==3.6.0

