biopython==1.76
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.3.1
numpy==1.16.4
psutil==5.6.3
pybedtools==0.8.0
pydot==1.4.0
scikit-learn==0.20.1
six==1.11.0
statsmodels==0.10.0
shap==0.34
tensorboard==1.15.0
tensorflow==1.15.0
weblogo==3.7.4
pandas==0.24.2
scipy==1.2.1

